body {
  background-color: red;
}

.app {
 
}

header {
  background-color: grey;
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sporting-goods {
  font-size:xx-large;
  color: rgb(7, 184, 243);
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
  background-color: white;
  width: 100vw;
  height: 93vh;
  display: flex;
  justify-content: space-between;
}

.cart-box {
  width: 30vw;
  height: 45vh;
  background-color: grey;
  margin-top: 50px;
  margin-right: 10px;
  border-radius: 10%;
}

.cart-title {
  color: rgb(7, 184, 243);
  font-size: x-large;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-decoration: underline; 
}

.display {
  background-color: white;
  width: 65vw;
  height: 91vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  
  
  margin-left: 80px;
  margin-top: 40px;
}

.item-button {
  border-radius: 30%;
  border: 3px solid #3498db;
  font-size: 20px;
  background: none;
  padding: 8px 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  outline: none;
}

.image {
  width: 120px;
  height: 120px;
  display: block;
}

.total {
  color: rgb(7, 184, 243);
  font-size: x-large;
  font-weight: bold;
  margin-left: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item-in-cart {
  margin-left: 10px;
  margin-top: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item-button:active {
  background-color: #3498db;
  transition: 0.1s;
  outline: none;
}

.item-price {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
}